import * as AWS from "aws-sdk";

// Copy this file into aws-credentials.ts and fill in your credentials configuration

export class AwsCredentials {
  public static init() {
    // Set the region
    AWS.config.region = 'eu-west-1';

    // Initialize your credentials. There are multiple ways to specify credentials
    // For an app you probably want to use Cognito
    AWS.config.credentials = new AWS.CognitoIdentityCredentials({
      IdentityPoolId: 'YOUR ID HERE',
    });
  }
}
